body {
  margin: 0;
  background-color: #d39a4f;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

.input-group {
  display: flex;
  margin-bottom: 12px;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

#webgl-canvas {
  border-radius: 12px;
}

#anyObjectSelected {
  margin-top: 16px;
  margin-bottom: 6px;
}