body {
  margin: 0;
  background-color: #6495ed;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}

#webgl-canvas {
  border-radius: 12px;
  background-color: #f0f0f0;
}