body {
  margin: 0;
  background-color: #d39a4f;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
}

.form {
  display: flex;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  margin-right: 8px;
}

#webgl-canvas {
  border-radius: 12px;
}
